@model EDCFinans.Models.Finans.UrunDetay

@{
    ViewData["Title"] = "UrunDetay_Duzenle";
}

<h1>UrunDetay_Duzenle</h1>

<h4>UrunDetay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UrunDetay_Duzenle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrunId" class="control-label"></label>
                <select asp-for="UrunId" class="form-control">
                    <option value="value">text</option>
                </select>
                <span asp-validation-for="UrunId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barkod" class="control-label"></label>
                <input asp-for="Barkod" class="form-control" />
                <span asp-validation-for="Barkod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marka" class="control-label"></label>
                <input asp-for="Marka" class="form-control" />
                <span asp-validation-for="Marka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Renk" class="control-label"></label>
                <input asp-for="Renk" class="form-control" />
                <span asp-validation-for="Renk" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Durum" /> @Html.DisplayNameFor(model => model.Durum)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
